.votebar {
	background: green;
	height: 1em;
	width: 100%;
	position: relative;
}

.votebucket {
	background: lightgrey;
	width: 10%;
	height: 1em;
	float: left;
	position: absolute;
	bottom: 0;
}

.votebucketfiller {
	background: blue;
	position: absolute;
	width: 100%;
	bottom: 0;
}

.votersPopup {
	position: fixed;
	top: 0;
	left: 0;
	height: 100px;
	width: 100px;
}