.votebar {
	background: green;
	height: 1em;
	width: 90%;
	position: relative;
}

.votebucket {
	background: lightgrey;
	width: 10%;
	height: 1em;
	float: left;
	position: absolute;
	bottom: 0;
}

.votebucketfiller {
	background: blue;
	position: absolute;
	width: 100%;
	bottom: 0;
}

.votersPopup {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 30;
	background: black;
	color: white;
	font-size: 13px;
	border: 1px solid black;
	padding: 2px;
	border-radius: 5px;
}